/* Main CSS */
body {
	margin: 0;
	background: #dc8;
}
/* ### Header ### */
#header {
	display: block;
	width: 100%;
	height: 48px;
	position: fixed;
	background: #2E2E2E;
	z-index: 10;
	border-bottom: 3px solid #C9B249;
}
#headWrapper {
	display: block;
	overflow: auto;
	margin: auto;
	max-width: 1012px;
	min-width: 700px;
}
#header h1 {
	display: block;
	position: relative;
	left: 20px;
	margin-right: auto;  
	margin-top: 6px;
	width: 300px;
	font-family: 'Tangerine', cursive;
	font-size: 36px;
	color: #EBFCFF;
}

/* ### Navigation Bar ### */
#navBar {
	display: inline;
	float: right;
}
#navBar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#navBar li {
	float: left;
}
#loginLinkA {
	line-height: 0px;
}
#navBar a:link, #navBar a:visited {
	display: block;
	font-family: Verdana, Geneva, sans-serif;
	font-size: smaller;
	color: white;
	background: #3770BF;
	text-decoration:none;
	text-transform: uppercase;
	margin-top: 0px;
	padding: 16px 7px 15px 7px;
	border-bottom: 3px solid #C1C8D6;
}
#navBar a:hover, #navBar a:active {
	color: black;
	background: #F5D33B;
	border-bottom: 3px solid #C1C8D6;
}
#loginLink a:link, #loginLink a:visited {
	background: #193F73;
	font-weight: bold;
	padding: 15px 20px 0px 20px;
	border-bottom: 3px solid #C1C8D6;
}
#loginLink a:hover, #loginLink a:active{
	font-weight: bolder;
	color: black;
	background: #E3C439;
	border-bottom: 3px solid #C1C8D6;
}
/* ### End Navigation Bar ### */
/* ### End Header ### */
#wrapper {
	width: 980px;
	position: relative;
	top: 65px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	background: beige;
	
	-webkit-border-radius: 2px 2px 0px 0px;
    border-radius: 2px 2px 0px 0px;
	-webkit-box-shadow: 0px 9px 6px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px 9px 6px rgba(50, 50, 50, 0.3);
	box-shadow:         0px 9px 6px rgba(50, 50, 50, 0.3);
}
#pageContent {
	background: #eec;
}
#colMain {
	width: 655px;
	min-height: 705px;
	padding: 10px 10px 10px 10px;
	float: left;
	background: white;
	padding-bottom: 50px;
	
}
#colMain h1 {
	display: block;
	width: 624px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 3px;	
	color: #252529;
	background: #F7FBFF;
	margin: 10px auto 10px auto;
	padding: 10px 0 10px 0px;
	border-bottom: 1px solid #C4D9FF;
	border-left: 1px solid #99B1DE;
	border-right: 1px solid #99B1DE;
	border-top: 1px solid #C4D9FF;
	-webkit-box-shadow: inset 0px 0px 8px rgba(50, 50, 50, 0.15);
	-moz-box-shadow:    inset 0px 0px 8px rgba(50, 50, 50, 0.15);
	box-shadow:         inset 0px 0px 8px rgba(50, 50, 50, 0.15);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.outsideShadow {
	display: block;
	width: 650px;
	margin: auto;
	padding-top: 1px;
	padding-bottom: 1px;
	border-bottom: 1px solid #AAC3F0;
	-webkit-box-shadow:  0px 1px 4px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:     0px 1px 4px rgba(50, 50, 50, 0.3);
	box-shadow:          0px 1px 4px rgba(50, 50, 50, 0.3);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#colMain p {
	margin-left: 20px;
}
#colMain li {
	font-size: 17px;
	line-height: 30px;
	font-family: sans-serif;
}
#colSides {
	margin-left: 10px;
	width: 284px;
	padding: 5px 5px 0px 5px;
	float: left;
	background: #eec;
}
.sideBarProjects {
	height: 200px;
	margin: 40px 5px 10px 5px;
	background: white;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.sideBarProjects h4 {
	display: block;
	position: relative;
	bottom: 20px;
	color: #081C47;
	text-align: left;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-weight: 400;
	padding: 5px 5px 5px 30px;
	background: #E6D89E;
	border-bottom: 1px solid #C9B249;
	
	-webkit-border-radius: 3px 3px 0px 0;
	-moz-border-radius: 3px 3px 0px 0;
	border-radius: 3px 30px 0px 0;
}
#belowCol {
	clear:both;
	margin-top: 20px;
}
#footer {
	position: relative;
	top: 49px;
	min-height: 100px;
	clear: both;
	background: #2D4469;
	font-size: 14px;
	font-family: Verdana, Geneva, sans-serif;
	color: #FAF198;
	text-align: center;
	padding-top: 10px;
	z-index: -1;
	
	-webkit-box-shadow: inset 0px 7px 7px 0px rgba(0, 0, 0, .1);
	-moz-box-shadow: inset 0px 7px 7px 0px rgba(0, 0, 0, .1);
    box-shadow: inset 0px 7px 7px 0px rgba(0, 0, 0, .1);
}
/* Global Form Styles */
#globalForm form {
	display: block;
}
#globalForm fieldset {
	width: 90%;
	margin: 30px auto;
	padding: 10px;

	border: 1px solid #D1D1D1;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0px 0px 8px rgba(148, 121, 0, 0.2);
	-moz-box-shadow:    0px 0px 8px rgba(148, 121, 0, 0.2);
	box-shadow:         0px 0px 8px rgba(148, 121, 0, 0.2);
}
#globalForm #globalFormContainer {
	padding: 15px 10px;
	background: #FAFAFF;
	border: 1px solid #D3D5F0;
	-webkit-box-shadow: inset 0px 0px 5px rgba(34, 23, 61, 0.3);
	-moz-box-shadow:    inset 0px 0px 5px rgba(34, 23, 61, 0.3);
	box-shadow:         inset 0px 0px 5px rgba(34, 23, 61, 0.3);
}
#globalForm p {
	margin: 0px 0px;
	padding: 10px 5px;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;	
}
#globalForm label {
	font-family: Verdana, Geneva, sans-serif;
	color: #4A4425;
	padding: 2px 4px;
	margin-top: 4px;
	display: block;
	float: left;
	width: 40%;
	font-size: 16px;
}
#globalForm input {
	padding: 8px 4px;
	margin: 0px 1px;
	display: block;
}
#globalForm input[type="radio"] {
	display: inline;
}
#globalForm input[type="text"],#globalForm input[type="password"] {
	width: 50%;
}
#globalForm input[type="submit"] {
	width: 15%;
	margin: 8px 10px;
}

/* Formatting */
a:link, a:visited {
	color: #001F61;
	background: none;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}

h3 {
	text-align: center;
	font-family: ‘Arial Black’, Gadget, sans-serif;
	color: #363636;
}
h6 {
	margin: none;
	line-height: 0px;
	font-weight: 100;
	text-align: center;
}
.validAsterisk {
	color: red;
	font-weight: bold;
}
#about {
	margin: 20px auto 0 auto;
	padding-bottom: 30px;
	width: 90%;
	border-top: 1px solid #D4D4D4;
	border-bottom: 1px solid #D4D4D4;
}
#about h2 {
	text-align: center;
	font-family: ‘Arial Black’, Gadget, sans-serif;
	color: #093963; 
	line-height: 10px;
	font-size: 36px;
}
#about h3 {
	margin: auto;
	margin-bottom: 15px;
	width: 70%;
	text-align: center;
	color: black;
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-style: italic;
	font-size: 18px;
	font-weight: 100;
	background: beige;
	padding: 20px;
	border-left: 1px solid #C9BF81;
	border-right: 1px solid #C9BF81;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;	
	-webkit-box-shadow:  0px 0px 10px rgba(34, 23, 61, 0.14);
	-moz-box-shadow:     0px 0px 10px rgba(34, 23, 61, 0.14);
	box-shadow:          0px 0px 10px rgba(34, 23, 61, 0.14);
	
}
#about  p {
	margin-top: 15px;
	color: #4F481C;
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}
#about ul{
	list-style-type: none;
	padding: 20px 0px 20px 40px;
	padding-right: 40px;
	background: #FCFAED;
	border-left: 1px solid #DED59B;
	border-right: 1px solid #DED59B;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;	
	-webkit-box-shadow:  0px 0px 10px rgba(34, 23, 61, 0.14);
	-moz-box-shadow:     0px 0px 10px rgba(34, 23, 61, 0.14);
	box-shadow:          0px 0px 10px rgba(34, 23, 61, 0.14);
}
#about li {
	margin-bottom: 20px;
}
#about ul h4 {
	display: block;
	font-weight: bolder;
	color: #093963; 
}
#about ul p {
	margin: 5px;
	line-height: 1.5em;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	color: #506D87;
}
hr {
	width: 70%;
	background: #404040;
}
.hBold {
	display: block;
	padding: 5px;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-weight: 400;
	background: #E6D89E;
}
a:link .hBold, a:visited .hBold {
	background: #E6D89E; 
}
a:hover .hBold, a:active .hBold {
	background: #E6E19E;
}
.noUnder {
	text-decoration: none !important;
}