#adminArea {
	margin: 20px auto 0 auto;
	padding-bottom: 30px;
	width: 80%;
	border-top: 1px solid #D4D4D4;
	border-bottom: 1px solid #D4D4D4;
}
#adminArea h2 {
	text-align: center;
	color: black; 
}
#adminArea p {
	color: dark-gray;
}
#logoutLink {
	display:block;
	text-align: right;
}